DATABASE_URL=postgresql://postgres:password@localhost:5432/qualifica_saude
JWT_SECRET_KEY=your-secret-key-here
CORS_ORIGINS=http://localhost:5173
SQLALCHEMY_ECHO=False

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USE_SSL=False
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-app
MAIL_DEFAULT_SENDER=seu-email@gmail.com
